################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.user
/**/bin
/**/obj
/Containers
/.vs
/.sonarqube
